pkgbase = custos-git
	pkgdesc = Custos Backup client for Proton Drive
	pkgver = 0.1.r42.g329cbc4
	pkgrel = 1
	url = https://github.com/jcergolj/custos-backup
	install = custos.install
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = gcc
	depends = qt6-base
	depends = qt6-declarative
	optdepends = proton-drive: Proton Drive CLI used for backup storage
	provides = custos
	conflicts = custos
	source = custos-git::git+https://github.com/jcergolj/custos-backup.git
	source = custos.desktop
	source = custos.svg
	source = custos.service
	source = custos.timer
	source = LICENSE
	sha256sums = SKIP
	sha256sums = b77424130aa0c6ee46e8e3e79bead24877bc667d542d6ab922b39e8e54779066
	sha256sums = 616d6c84dd51458faa4fecf561357c33ff48d0c30054017891e1908d679890e9
	sha256sums = 8f81c33865b5d8bf403a9514edf60ce08bff6b8b7f85408a101edfb2682f4dd4
	sha256sums = 576443d6b96563778be6754ddcd1d356c31004b6bc43b0f9f0a821031e0c8139
	sha256sums = e1417669d8da98bc3f2ff4ad7bd24b5913326833cc91750eab4e6711a21d3a91

pkgname = custos-git
