[Unit]
Description=Custos Backup worker

[Service]
Type=oneshot
ExecStart=/usr/bin/custos-worker --config %h/.config/custos/custos-backup.json
NoNewPrivileges=true
