[Desktop Entry]
Type=Application
Name=Custos Backup
GenericName=Backup and Restore
Comment=Back up and restore selected files with Proton Drive
Exec=custos
TryExec=custos
Icon=custos
Terminal=false
Categories=Utility;Archiving;
Keywords=backup;restore;proton;drive;
StartupWMClass=custos
