[Desktop Entry]
Type=Application
Name=OmaCustos for Proton Drive
GenericName=Backup and Restore
Comment=Back up and restore selected files with Proton Drive
Exec=omacustos
TryExec=omacustos
Icon=omacustos
Terminal=false
Categories=Utility;Archiving;
Keywords=backup;restore;proton;drive;omarchy;
StartupWMClass=omacustos
