[Desktop Entry]
Type=Application
Name=Praefectus Backup
GenericName=Backup and Restore
Comment=Back up and restore selected files with Proton Drive
Exec=praefectus-native
TryExec=praefectus-native
Icon=praefectus-native
Terminal=false
Categories=Utility;Archiving;
Keywords=backup;restore;proton;drive;
StartupWMClass=praefectus-native
